<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/4.032/">Home</a></li>
		        	<li><a href="/4.032/clocks">Clocks</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:alyssal@mit.edu">email</a></li>
	        		<li><a href="https://github.com/alyssa-li">github.com/alyssa-li</a></li>
				</ul>
			</footer>
		</body>
	</html>
